<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Sistema XPTO</title>
    </head>
    <body>
        <h1>Bem vindo ao sistema  <%= nome %></h1>
        <h4>O melhor sistema do mundo</h4>
        <p>Seleciona a opçâo desejada no menu</p>
    </body>
</html>